@model FitnessWebApp.Models.CaloriesIndexViewModel
@{
    ViewData["Title"] = "Calories Page";
}
<div class="mb-3 d-flex align-items-center">
    <h2 class="m-0 me-2">@Model.SelectedDate.ToString("dddd, dd MMM")</h2>
    <form method="get">
        <input type="date" class="form-control" value="@Model.SelectedDate.ToString("yyyy-MM-dd")" onchange="this.form.submit()" name="date"/>
    </form>
</div>

@if (@Model.CaloriesLogs.Count == 0)
{
    <div class="d-flex justify-content-center flex-column align-items-center mt-5">
        <h2 class="text-secondary">No logs found</h2>
        <a class="btn btn-lg btn-primary mt-3" asp-action="Create" asp-route-date="@Model.SelectedDate.ToString("yyyy-MM-dd")">Add</a>
    </div>
}
else
{
    <h1 class="text-center my-5">@Model.TotalCalories kcal</h1>

    <div class="d-flex justify-content-between align-items-end">
        <h3 class="m-0">Calories</h3>
        <a class="btn btn-primary" asp-action="Create" asp-route-date="@Model.SelectedDate.ToString("yyyy-MM-dd")">Add</a>
    </div>
    <ul class="list-group mt-3">
        @foreach (var log in @Model.CaloriesLogs)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>@log.Name <span class="fw-bold">@log.Calories kcal</span></div>
                <div class="dropstart align-self-start">
                    <button class="btn btn-link p-1" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                        </svg>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-action="Edit" asp-route-id="@log.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="me-2" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                </svg>
                                Edit
                            </a>
                        </li>
                        <li>
                            <form method="post" asp-route-id="@log.Id" asp-action="Delete">
                                <button class="dropdown-item d-flex align-items-center text-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="me-2" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                    </svg>
                                    Remove
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </li>
        }
    </ul>
}